
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100%;
        }

        .container {
            position: absolute;
            background-color: black;
            width: 75%;
            height: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            display: grid;
            grid-template-rows: 3fr 12fr 1fr 1fr;
        }

        .row-1 {
            background-color: #FFA03E;
        }

        .row-2>div:first-child {
            background-color: #BABABA;
        }

        .catch>div:first-child {
            background-color: #FEBB91;
        }

        .catch>div:nth-child(2)>div {
            background-color: turquoise;
        }

        .catch>div:last-child {
            background-color: #BABABA;
        }

        .ran div {
            background-color: #222220;
        }

        .ran>div:first-child {
            background-color: #0a99ff;
        }

        .row-3 {
            background-color: #98894e;
            margin: 0.25rem
        }

        .row-4 {
            background-color: #76610b;
            margin: 0.25rem
        }

        .row-2 {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 15fr;
            margin: 0.5rem;
        }

        .layouts {
            display: grid;
        }

        .catch {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 5fr 5fr 1fr;
            margin: 0.5rem;
        }

        .catch>div:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .catch>div:nth-child(2)>div {
            margin: 0.25rem;
        }

        .ran {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 7fr 3fr;
            margin: 0.5rem;
        }

        .ran>div:nth-child(2) {
            display: grid;
            background-color: black;
        }

        .ran>div:nth-child(2) div {
            margin: 0.25rem;
        }

        .ran>div:nth-child(2)>div:first-child {
            margin-left: 0.5rem;
        }

        .ran>div:nth-child(2)>div:nth-child(2) {
            display: grid;
            background-color: black;
        }