
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: black;
        }

        .div1 {
            padding: 2px;
            background: rgb(232, 232, 40);
            width: 100%;
            height: 30px;
            position: relative;
        }

        .div2,
        .div3 {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            height: 180px;
            margin: -3px 10px 0px 10px;
        }

        .div2>:nth-child(1) {
            flex-basis: 70%;
            background-color: rgb(36, 250, 246);
        }

        .div3>:nth-child(2) {
            flex-basis: 80%;
            background-color: rgb(227, 28, 161);
        }

        .div2>:nth-child(2) {
            flex-basis: 30%;
            background-color: rgb(103, 190, 248);
        }

        .div3>:nth-child(1) {
            flex-basis: 20%;
            background-color: rgb(156, 95, 80);
        }

        .div-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 5px;
            height: 100%;
            background-color: black;
        }

        .divgriditems {
            background-color: rgb(21, 140, 88);
        }

        .middle {
            height: 180px;
            background-color: rgb(233, 17, 211);
        }

        .divlast {
            position: relative;
            margin: 0 10px -25px 10px;
            background-color: beige;
            height: 50px;
        }
