body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  
  
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.row {
  flex: 1;
  width: 100%;
  display:inline-flex;
}
.row1 {
  border: 1px solid black;
}

.box {
  flex: 1;
  border: 1px solid black;
  margin: 4px;
  /* color: white; Set text color to white */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width:200px;
  height: 400px;
  
}
.box1 {
  background-color: rgb(224, 216, 216);
  height: 90px;
  padding: 0;
  margin: 0;
  width: 100%;
  
}
.box2 {
  margin: 0;
  background-color: rgb(80, 80, 241);
  height: 300px;
  width: 180px;
}
.box3 {
  background-color: rgb(251, 255, 255);
  height: 95px;
}
.box4 {
  border: 15px solid black;
  background-color: rgb(233, 196, 150);
  
  

}
.box7{
    background-color: rgb(233, 242, 242);
  height: 95px;
}
.box8{
    background-color:rgb(250, 186, 130);
    height: 95px;
    
}
